body {
    background: url("./background.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* .container {
    position: 30%;
    width: 30%;
    max-width: 200px;
    margin: 0 auto;
  }

  .foreground-image {
    position: absolute;
    top: 30%; 
    left: 500%; 
    width: 60%;
    max-width: 450px;
    height: auto;
    background-image: url('./pokeball-logo-DC23868CA1-seeklogo.com.png');
    background-size: contain;
  } */

#board{
    height: 90%;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFCC00;
    border: 1vw solid #0075BE;
    border-radius: 2%;
    justify-content: space-between;
}

.card {
    width: 20%; 
    max-width: 90px; 
    margin: 1%; 
    aspect-ratio: 7 / 10; /* Set aspect ratio (width / height) */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
    filter: brightness(100%);
}


.card:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    filter: brightness(150%);
}


button:hover{
    cursor: pointer;
}

#errors {
    color:red;
}

h1 {
    display: grid;
    place-items: center;
  }

h1 img {
    height: auto;
    width: 100%;
  }

  h2 {
    font-size: 6vw;
    color: white;
    margin: 0; 
    padding: 0; 
    -webkit-text-stroke: 2px black;
  }
  
  

h3 {
    color: white;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
}


@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .foreground-image {
        top: -20%;
        left: -10%;
        width: 80%;
    }

    #board {
        width: 95%;
        max-width: none;
    }

    .card {
        width: 45%;
        max-width: none;
    }
}

